<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="meditation">
      <h2 data-cy="meditationDetailsHeading"><span>Meditation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ meditation.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ meditation.name }}</span>
        </dd>
        <dt><span>Content</span></dt>
        <dd>
          <span>{{ meditation.content }}</span>
        </dd>
        <dt><span>Video Url</span></dt>
        <dd>
          <span>{{ meditation.videoUrl }}</span>
        </dd>
        <dt><span>Mood</span></dt>
        <dd>
          <div *ngIf="meditation.mood">
            <a [routerLink]="['/mood', meditation.mood.id, 'view']">{{ meditation.mood.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/meditation', meditation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
