<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="mood">
      <h2 data-cy="moodDetailsHeading"><span>Mood</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ mood.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ mood.name }}</span>
        </dd>
        <dt><span>Meditation</span></dt>
        <dd>
          <div *ngIf="mood.meditation">
            <a [routerLink]="['/meditation', mood.meditation.id, 'view']">{{ mood.meditation.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/mood', mood.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
